@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* || RESET  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Playfair Display", serif;
  --FF-HEADINGS: "Playfair Display";
  --FS: clamp(1rem, 2.2vh, 3rem);

  /* || COLORS */
  --BGCOLOR: #ffefd5;
  --BUTTON-COLOR: #002147;
  --FONT-COLOR: #002147;
  --LINK-COLOR: #fff;
  --LINK-ACTIVE: #06021cf8;
  --LINK-HOVER: #fff;
  --BUTTON-FONT-COLOR: #fff;
  /* BORDERS */
  --BORDER--RADIUS: 0px;
  /* STANDARD PADDING */
  --PADDING-TB: 0.75em;
  --PADDING-SIDE: 2.5%;
}
/* || GENERAL STYLES  */
html {
  scroll-behavior: smooth;
  font-family: var(--FF);
  /* background-color: var(--BGCOLOR); */
  background: #FFEFD5FD;
  font-size: 16px;
}


/*
 * HEADER
 */

header {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.navbar .logo a {
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-decoration: none;
}

.navbar .nav-items {
  list-style: none;
  display: flex;
  gap: 12px;
}

/*
 * LANDING PAGE
 */
.landing-page {
  display: flex;
}

.landing-page > div {
  flex: 1;
}

.landing-page-text {
  padding: 4rem;
}

.landing-page-text {
  align-content: center;
}

.landing-page-text h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.landing-page-text p {
  font-size: 1.5rem;
  font-weight: 400;
}

.landing-page-text .socials {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

.landing-page-text i {
  font-size: 2rem;
}

.landing-page-image img {
  width: 100%;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 0.5rem;
}

.button.button-primary {
  color: #FAF8F5;
  background: #002147;
}